$mainColor: #f5f5dc;
$desktopWidth: 745px;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $mainColor;
  font-family: 'Freeride';
}
.container {
  max-width: 85%;
  margin: 0 auto;
  height: 100vh;
  @media screen and (min-width: $desktopWidth){
    max-width: 75%;
  }
  
}
.header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  &__title {
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
    
  }
}
.main {
  width: 90%;
  margin: 0 auto;
  &__h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__translation{
    padding: 15px;
    list-style:decimal;
  }
}
.form{
  &__AreaContainer{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    
  }
  &__TextAreaContainer:nth-child(3){
    align-items: flex-end;
  }
  &__textArea {
    background-color: #fbfbef;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    outline: none;
  }
  &__TextAreaContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    
  }
  &__changeLangeage{
    height: 30px;
    width: 35px;
    align-self: center;
    background-color: transparent;
    border: none;
    background-image: url('./img/loop-arrows.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @media screen and (min-width: $desktopWidth){
      align-self: flex-end;
    }
  }
  &__translateButton{
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  &__buttonsPanel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    
    @media screen and (min-width: $desktopWidth){
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
    }
  }

}
.languagesInput {
  height: 30px;
  padding: 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}
input[list="test"]::-webkit-calendar-picker-indicator {
  display: none !important;
}
.translateButton__icon{
  height: 30px;
}
.languagesDataList {
  outline: none;
}